
@using(Html.BeginForm("Operations", "Faculties")){
<div class="row ml-4">
    <div class=" col-md-4 ">

        <div class="form-group">
            <label>Search</label>
            <input type="text" class="form-control" name="SearchString" />
        </div>
    </div>
</div>}
