@model WebApplication1.ViewModels.FacultyAndListOfUniversity

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<center>
    <h2 class="my-4"> Edit Faculty</h2>
</center>
<form method="post" asp-action="editFaculty">
    <div class=" col-md-4  mx-4" style="width:50%;left:0">
        <input type="hidden" asp-for="@Model.Faculty.FacultyId" />
        <div class="form-group my-2">
            <label class="text-muted" asp-for="Faculty.FacultyName"> </label>
            <input type="text" class="form-control" asp-for="Faculty.FacultyName" />
        </div>
        <div class="form-group">
            <label class="text-muted " asp-for="Faculty.UniverstyId"> </label>
            <select class="form-control" asp-for="Faculty.UniverstyId" asp-items="@(new SelectList(Model.Universities, "UniversityId", "UniversityName"))">
                <option></option>
            </select>
        </div>
        <div class="form-group my-2">
            <label class="text-muted" asp-for="Faculty.Description"> </label>
            <input type="text" class="form-control" asp-for="Faculty.Description" />
        </div>
        <div class="form-group my-2">
            <label class="text-muted" asp-for="Faculty.AreaOfExpertise"> </label>
            <input type="text" class="form-control" asp-for="Faculty.AreaOfExpertise" />
        </div>

    </div>

    <div class="custom-file mx-3 my-3">
        <button type="submit" class=" btn btn-outline-primary ">
            <i class="bi bi-check"></i>
            Save
        </button>
        <a asp-action="Index" class="btn btn-outline-secondary ">
            <i class="bi bi-x"></i>
            Cancle
        </a>
    </div>
</form>
