@model WebApplication1.ViewModels.CourseAndListOfUFD;

@{
    ViewData["Title"] = "Edit";
        Layout = "_Layout";

}

<center>
    <h2 class="my-4"> Edit Faculty</h2>
</center>
<form method="post" asp-action="editCourse">
    <div class=" col-md-4  mx-4" style="width:50%;left:0">
        <input type="hidden" asp-for="@Model.Course.CourseID" />
        <div class="form-group my-2">
            <label class="text-muted" asp-for="Course.CourseName"> </label>
            <input type="text" class="form-control" asp-for="Course.CourseName" />
        </div>
        @*<div class="form-group">
                <label class="text-muted " asp-for="Department.UniversityId"> </label>
                <select class="form-control" asp-for="Department.UniversityId" asp-items="@(new SelectList(Model.Universities, "UniversityId", "UniversityName"))">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label class="text-muted " asp-for="Department.FacultyId"> </label>
                <select class="form-control" asp-for="Department.FacultyId" asp-items="@(new SelectList(Model.Faculties, "FacultyId", "FacultyName"))">
                    <option></option>
                </select>
            </div>*@


    </div>

    <div class="custom-file mx-3 my-3">
        <button type="submit" class=" btn btn-outline-primary ">
            <i class="bi bi-check"></i>
            Save
        </button>
        <a asp-action="Index" class="btn btn-outline-secondary ">
            <i class="bi bi-x"></i>
            Cancle
        </a>
    </div>
</form>
